---
import { Icon } from "astro-icon/components";
import Container from "../components/Container.astro";
import DashedContainer from "../components/DashedContainer.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import type { Project } from "../types";

const projects = [
  {
    name: "fastify-effect-runtime",
    description: "Library for integrating Effect runtime into Fastify",
    url: "https://github.com/OneLiL05/fastify-effect-runtime",
  },
  {
    name: "Mindenit Schedule API",
    description: "Drop-in replacement for NURE CIST API",
    url: "https://github.com/mindenit/schedule-api",
  },
] satisfies Project[];
---

<Layout>
  <DashedContainer>
    <div class="inline-flex w-full justify-between">
      <div class="inline-flex items-center gap-3">
        <div
          class="relative md:size-[50px] size-10 object-fill flex bg-neutral-950 items-center justify-center overflow-hidden rounded-[10px]"
        >
          <img
            class="max-[690px]:size-10 size-12"
            src="/avatar.png"
            draggable="false"
          />
        </div>
        <div>
          <p class="text-lg font-medium text-neutral-900">kyrylo</p>
          <p class="text-sm text-neutral-500 font-dm-mono">
            full-stack developer
          </p>
        </div>
      </div>
      <a
        href="https://github.com/OneLiL05"
        target="_blank"
        class="flex items-center gap-1.5 text-sm font-medium text-neutral-500 px-2 py-1 cursor-pointer font-dm-mono hover:underline underline-offset-3 focus-visible:underline"
        draggable="false"
      >
        <Icon name="cib:github" />
        github
      </a>
    </div>
  </DashedContainer>
  <Container>
    <p>
      hey, i'm kyrylo, a software developer who thrives on turning complex
      problems into elegant, high-performing software solutions.
    </p>
  </Container>
  <DashedContainer class="mt-5">
    <p class="text-left uppercase font-dm-mono text-neutral-500">Projects</p>
  </DashedContainer>
  <Container>
    {projects.map((project) => <ProjectCard project={project} />)}
  </Container>
</Layout>
