---
import type { Project } from "../types";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<article class="w-full p-4 hover:bg-neutral-50">
  <div class="space-y-2">
    <span class="inline-flex gap-2 items-center">
      <a
        href={project.url}
        class="font-dm-mono text-base hover:underline underline-offset-3 focus-visible:underline"
        target="_blank"
        rel="noopener noreferrer"
      >
        {project.name}
      </a>
    </span>
    <p class="text-sm text-neutral-500">
      {project.description}
    </p>
  </div>
</article>
