---
import { SEO } from "astro-seo";
import "../styles/global.css";
import "@fontsource/dm-mono";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO title="kyrylo" titleTemplate="%s | onelil" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="w-full relative min-h-screen overflow-x-hidden">
    <slot />
  </body>
</html>
